# JWT Secret Key used for signing and verifying JSON Web Tokens
JWT_SECRET=thisIslikeMyPassword

// MongoDB connection string for connecting to the database
MONGODB_URL= mongodb+srv://sarfarazm933:g8ndU5EpjG88U312@cluster0.z4wndoe.mongodb.net/

# Hostname of the mail server used for sending emails
MAIL_HOST=

# Username of the email account used for sending emails
MAIL_USER=

# Password of the email account used for sending emails
MAIL_PASS=